@media (max-width: 992px) {
    .main-nav {
        height: 55px;
        background-color: white;
    }

    .main-nav__item {
        display: none;
    }

    .main-nav__item:last-child{
        display: block;
    }

    .sobre {
        padding: 70px 10vw;
    }

    .siberia, .outros-destinos, .iframe-map, .formulario {
        width: 800px;
    }

    .siberia__img {
        width: 470px;
    }

    .outros-destinos__img {
        width: 400px;
    }
}

@media (max-width: 850px) {

    .siberia, .outros-destinos, .iframe-map, .formulario {
        width: 700px;
    }

    .siberia__img {
        width: 420px;
    }

    .outros-destinos__img {
        width: 350px;
    }

}