.banner{
    @extend %height_display;
}
.destination{
    @extend %height_display;
} 
.banner {
    background: url("../images/foto-banner.jpg");
    background-size: cover;
    margin-top: adapta-tamanho(8.5);
    text-align: center;
    @include adapta-tamanho(50);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
      font-size: adapta-tamanho(10.5);
      @include rgba_opacity( $cor-branca, .9 );
      text-transform: uppercase;
      font-family: 'Varela Round';
      font-weight: 100;
      padding-top: adapta-tamanho(8);
      letter-spacing: 8px;
      @include responsivo(tablet) {
        font-size: adapta-tamanho(6);
        width: 100%;
      }
      @media (max-width: 850px) { 
          font-size: adapta-tamanho(6);
      }
      @media (max-width: 1024px) {
          font-size: adapta-tamanho(8);
      }
    }
    &__subtitle {
      @include rgba_opacity($cor-branca,  0.7);
      font-size: adapta-tamanho(2.2);
      font-weight: 400;
      line-height: 28px;
      @media (max-width: 850px) {
          font-size: adapta-tamanho(1.8);
      }
    }
    &__btn {
      display: inline-block;
      margin-top: 40px;
    }
    @media (max-width: 420px) {
        height: 400px;
        background-position: -360px 0;
    }
  
  }