/* GERAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #4A4A4A;
}

table {
    margin: 60px auto;
    border-collapse: collapse; /* Para ficar com uma linha de borda*/
    border: 1px solid #D8D8D8;
    text-align: center;
}

a {
    text-decoration: none;
}

/* TABLE HEADER */
.empty-space {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

/* TABLE HEADER LINE 1*/
.table-header__line1 th {
    color: white;
    font-size: 13px;
    font-weight: lighter;
}

.table-header__line1_item1 {
    background-color: #0078C1;
    border-right: 1px solid #D8D8D8;
    padding: 10px;
}

.table-header__line1_item2 {
    background-color: #009E2C;
    padding: 10px 20px;
}

/* TABLE HEADER LINE 2*/
.table-header__line2 th {
    width: 200px;
    height: 120px;
}

.table-header__line2 th h4 {
    margin-top: 0px;
}

/* TABLE HEADER BUTTONS */
.btn {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.btn_buy {
    display: block;
    background-color: #FF5406;
    color: white;
    transition: all 2s;
}

.btn_shadow {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
}

.btn_buy:hover {
    transform: translateY(-5px);
    transform: rotate(360deg);
}

/* TABLE BODY */
.table-body tr td:first-child {
    width: 210px;
    text-align: left;
    font-size: 14px;
    border-left: 1px solid transparent;
}

.table-body tr td {
    padding: 6px 0px 6px 10px;
}

/* CHECK SYMBOLS */
.check {
    font-size: 21px;
}

.check_blue {
    color: #0078C1;
}

.check_green {
    color: #009E2C;
}

/* LAYOUT */    
.table-body tr:nth-child(odd) {
    background-color: #F5F5F5;
}   

.table-body td, thead th/* thead em vez de .table-head para não alterar a .empty-space */{
    border-right: 1px solid #8D8D8D;
}   

.table-body tr td {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.table-body tr:first-child td {
    border-top: 1px solid #D8D8D8;
}